<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    {% if (greetings is defined) and greetings  %}
      {% for greeting in greetings %}
        <div class="row">
          <blockquote>
            {{ greeting.content }}
          </blockquote>
        </div>
      {% endfor %}
    {% else %}
      <div>No Greetings</div>
    {% endif %}
    <form action="/books/{{guestbook_name}}/post" method="post">
      <div>
        <textarea name="content" rows="3" cols="60">
        </textarea>
      </div>
      <div>
        <input type="submit" value="Sign Guestbook">
      </div>
    </form>
    <hr>
  </body>
</html>
{% endautoescape %}
