<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <div>guestbook name: {{guestbook_name}}</div>
    {% if (greetings is defined) and greetings  %}
      {% for greeting in greetings %}
        <div class="row">
          <blockquote>
            {{ greeting.content }}
          </blockquote>
        </div>
      {% endfor %}
    {% else %}
      <div>No Greetings</div>
    {% endif %}
    <div>tags</div>
    {% for tag in tags %}
      <blockquote>
        {{ tag }}
      </blockquote>
    {% endfor %}
    <form action="/books/{{guestbook_name}}/post" method="post">
      <div>
        <textarea name="content" rows="3" cols="60">
        </textarea>
      </div>
      <div>
        <input type="submit" value="Sign Guestbook">
      </div>
    </form>
    <hr>
    <form action="/books/{{guestbook_name}}/update" method="post">
      New Guestbook name:
        <input value="{{guestbook_name}}" name="old_guestbook_name" type="hidden">
        <input value="{{new_guestbook_name}}" name="new_guestbook_name">
        <input type="submit" value="update">
    </form>
    <form action="/books/{{guestbook_name}}/addtag" method="post">
      New tag:
        <input value="" name="tag_type">
        <input type="submit" value="add tag">
    </form>
  </body>
</html>
{% endautoescape %}
