<!DOCTYPE html>
{% autoescape true %}
<html>
  <body>
    <h1>Book List</h1>
    <div class="container">
      {% if (books is defined) and books  %}
        {% for book in books %}
        <div class="row">
          <blockquote>
            <a href={{ "books/" + book.name }}>{{ book.name }}</a>
          </blockquote>
        </div>
        {% endfor %}
      {% else %}
        <div>No Guestbooks</div>
      {% endif %}

      <form action="/add_book", method="post">Add Guestbook:
        <input value="{{guestbook_name}}" name="guestbook_name" required>
        <input type="submit" value="add">
      </form>

    </div>
  </body>
</html>
{% endautoescape %}
